<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>737258673931-csp1npa63jcq5163ar4cabt4hks15kso.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.737258673931-csp1npa63jcq5163ar4cabt4hks15kso</string>
	<key>API_KEY</key>
	<string>AIzaSyBf8nrAp0m3q7Yf-yzi0pzKkuVkMSLxwug</string>
	<key>GCM_SENDER_ID</key>
	<string>737258673931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motorbikeCrashDetection</string>
	<key>PROJECT_ID</key>
	<string>motorbike-crash-detection</string>
	<key>STORAGE_BUCKET</key>
	<string>motorbike-crash-detection.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:737258673931:ios:2b8ecf1d9721f1c13d740e</string>
</dict>
</plist>