<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDy1plCqanOi-lg6rkirf6f_GP4XtzbWw0</string>
	<key>GCM_SENDER_ID</key>
	<string>1088481550003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.motorbikeCrashTheftDetectionSystem.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>motorbike-crash-theft-detect</string>
	<key>STORAGE_BUCKET</key>
	<string>motorbike-crash-theft-detect.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1088481550003:ios:6f9e811601c7f7f4421ac6</string>
</dict>
</plist>